# Environment files
*.env
.env
.env.*
!.env.example

# Virtual Environments
venv/
.venv/
**/venv/
**/.venv/
env/
**/env/

# Dependencies & build outputs
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/

# Python cache & testing
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
**/.pytest_cache/

# OS metadata & temporary files
.DS_Store
Thumbs.db
*.zip
